/* Global CSS */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Poppins:wght@300;400;500;700&display=swap'); */

:root {
  --backgroundColor: #101010;
  --accent: #ffbb1c;
  --textColor: #dcdcdc;
  --shadow: #212121;
 }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, Sora, Arial, Helvetica, sans-serif;
  background: var(--backgroundColor);
  color: var(--textColor);
}

h1, h2, h3 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 700;
}

p {
  margin-top: 0;
}

a, a:active, a:visited {
  color: var(--textColor);
  text-decoration: none;
}

.cta--outline:hover {
  color: var(--shadow);
  background-color: var(--accent);
  transition: ease-in 200ms;
}

.container--label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 10rem;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background: var(--shadow);
}


/* CSS */
.wrapper {
  max-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

/* NAV SECTION */
.nav--bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.nav--logo {
  font-size: x-large;
  font-weight: 700;
}
.nav--links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style-type: none;
}
.resume {
  border: 2px solid var(--accent);
  border-radius: 6px;
  padding: 6px 12px;
}

/* HERO SECTION */
.user--profile {
  display: flex;
  align-items: center;
  width: 75rem;
  padding: 150px 25px 100px 125px;
  margin: 0 auto;
}

.social--icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  left: 35px;
  top: 245px;
}
.social--icons ul {
  padding: 8px 16px;
  list-style-type: none;
  margin: 0;
}
.social--icons ul li {
  padding: 4px 0;
}
.hero--label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  transform: rotate(-90deg);
  border-radius: 6px;
  background: var(--shadow);
}
.hero--label p {
  /* align-items: center;
  justify-content: center; */
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.hero--label::after {
  content: " ";
  transform: rotate(-90deg);
  width: 2px;
  height: 50px;
  background: var(--shadow);
} 

.hero {
  max-width: 65rem;
  /* max-height: 5rem; */
}
.greetings {
  max-width: 65rem;
  max-height: 5rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--accent);
}
.full--name {
  max-width: 65rem;
  max-height: 5rem;
  color: #fafafa;
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.job--role {
  max-width: 65rem;
  max-height: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent);
}

.job--skills {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  width: 65rem;
  height: 5rem;
  margin-left: 0;
  padding-left: 0;
}
.job--skills li:first-child {
  list-style-type: none;
  
 }
.job--skills li::marker {
  color: var(--accent);
 }
 .cta {
  display: flex;
  gap: 1rem;
  width: 65rem;
 }
 .cta--fill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 500;
  background-color: var(--accent);
  color: var(--shadow) !important;
 }
 .cta--outline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--accent);
  border: 2px solid var(--accent);
 }
 
/* ABOUT SECTION */
 .about {
  display: flex;
  width: 1200px;
  padding: 100px 25px;
 }
 .myself {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.25rem;
  max-width: 600px;
 }
 .download {
  margin-left: 0.5rem;
  height: 24px;
  width: 24px;
 }
.about--img {
  display: flex;
  padding: 0px 102.5px;
  justify-content: center;
  align-items: center;
}
.about--img img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

/* SKILL SECTION */
.my--skills {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 100px 0;
}
/* .skill--set {
  display: flex;
  justify-content: space-between;
} */
.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}
.figma--container{
  width: 50%;
}
.figma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 25px 25px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background-color: var(--shadow);
}
.figma p {
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
  color: var(--shadow);
  background-color: var(--accent);
}

/* HOBBY SECTION */
.hobby--container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 100px 0;
}
.hobbies {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  /* gap: 0.5rem; */
  border-radius: 6px;
  padding: 45px 25px;
  background-color: var(--shadow);
}

/* PORTFOLIO SECTION */
.portfolio {
  display: flex;
  flex-direction: column;
}
.portfolio a {
  width: 9rem;
  align-self: center;
}

/* CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  gap: 2.5rem;
}
.contact--details {
  display: flex;
  gap: 2rem;
}
.contact--me {
  display: block;
  width: 31.25rem;
}
.contact--me p {
  line-height: 2.25rem;
}
.contact--me a {
  margin-top: 2rem;
  width: 9rem;
}
.contact--address{
  display: block;
  width: 31.25rem;
}
.contact--address h4 {
  margin: 0;
  line-height: 28px;
  font-size: 1.6rem;
  font-weight: 700;
}
.contact--address span {
  color: #918e9b;
}


/* CSS */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 120px;
  background-color: var(--shadow);
  flex-direction: row-reverse;
}
.github {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
}
.github a {
  display: flex;
  gap: 8px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0;
}
.cheveron {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 16px;
  background-color: var(--accent);
}
